@font-face {
  font-family: 'Bebas Nueve';
  src: url(../public/BebasNeue-Regular.otf);
}

@font-face {
  font-family: 'Be Vietnam';
  src: url(../public/BeVietnamPro-Variable.ttf);
}

html {
  scroll-behavior: smooth;
  color: black;
  background-image: url(../public/long-pour.jpg);
  background-size: cover;
}

body {
  width: 100vw;
  margin: 0rem;
  overflow-x: hidden;
  height: auto;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

.homepage {
  width: 100vw;
  display: flex;
  justify-content: center;
}

main {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  top: 16px;
  left: 48px;
  right: 48px;
  padding: 16px 16px 16px 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  z-index: 1;

  background-color: rgba(255, 197, 143, 0.2);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-family: 'Be Vietnam';
  font-weight: 700;
}

.landing-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
  color: #f9bb80;
  font-family: 'Bebas Nueve';
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.about-section {
  max-width: 45%;
  margin-left: 25px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about-section h2 {
  font-family: 'Bebas Nueve';
  font-size: 45px;
  color: #f9bb80;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-section p {
  color: black;
  font-family: 'be Vietnam';
  font-weight: 500;
  font-size: 25px;
}

.methods {
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
}

.methods h2 {
  margin-top: 20vh;
  font-family: 'Bebas Nueve';
  font-size: 45px;
  color: #f9bb80;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}